# config | env var
config.py
.env

# service
tasks.txt

# test
test.json
test.py
test.txt

commands.txt

# __pycache__
__pycache__

# celery
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir